body, html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  height: 100%;
  text-decoration: none;
  background-size: cover;
}

img {
  display: block;
  max-width:300px;
  max-height:230px;
  // min-height: 230px;
  // min-width: 300px;
  width: auto;
  height: auto;
}

.active {
  color: pink;
}

//newpost component
.newpost-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:20px;

  input{
    margin: 10px;
  }

  button{
    margin:10px;
    padding: 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgb(87, 240, 121);
  }
}

//posts compoment

.postComponent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1{
    margin: 20px;
  }
}

.postDetail{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  text-decoration: none;

  .post-title{
    text-decoration: none;
    margin:1px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;

    h1,h2,h3,h4,h5,h6{
      margin:0;
    }
  }

  .post-author{
    text-decoration: none;
    margin:1px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;

    color: red;

    h1,h2,h3,h4,h5,h6{
      margin:0;
    }
  }

  .post-tags{
    text-decoration: none;
    margin:1px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;


    h1,h2,h3,h4,h5,h6{
      margin:0;
    }
  }
}

.postSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

//post component


.singlePost-detail{

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .functions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .deleteB{
    margin:10px;
    padding: 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgb(198, 198, 198);
  }

  .editB{
    margin:10px;
    padding: 16px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgb(40, 177, 255);
  }

  .singlePostbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 70%;


    .edit-element{
      margin: 10px;
    }

    .post-title{
      font-size: 25px;
    }

    .post-content{
      font-size: 18px;
    }

    .post-tags{
      font-size: 14px;
    }

    .post-author{
      font-size: 25px;
      color: red;

    }
  }


}


//navbar component
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;

  li{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }

  .nav-actions{
    display:flex;
    flex-direction: row;

    .newpost, .signup-button,.signout-button,.signin-button{
      text-decoration: none;
      padding: 16px;
      border-radius: 10px;
      text-decoration: none;
      color: white;
      background: rgb(242, 47, 83);
    }
  }


  .logo{
    font-size: 30px;
    text-decoration: none;
    color: white;
  }
}

ul {
  list-style-type: none;
}
